@import 'colors';

p-autocomplete {
  width: 100%;

  .p-autocomplete {
    width: 100%;
    position: relative;

    .p-button {
      padding: 0;
      border-radius: 1rem;
      right: 0.25rem;
      top: 0.25rem;
      height: 80%;
      position: absolute;
      background: $white;
      border: $white;
      color: $primary-dark;
    }
  }
}
