@import 'colors';
@import 'variables';
@import 'mixins/set-color';

.p-button:not(.p-button-icon-only) {
  padding: 0.5rem;
  border-radius: $border-radius-default;
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: $font-weight-bold;
  height: 100%;
  min-width: 10rem;
  width: 100%;

  &.front-end {
    @include set-color($white, $purple-300, $purple-300);
  }

  &.back-end {
    @include set-color($white, $orange-300, $orange-300);
  }

  &.dev-ops {
    @include set-color($white, $green-300, $green-300);
  }

  &.qa-test {
    @include set-color($white, $red-300, $red-300);
  }

  &.sales {
    @include set-color($white, $blue-300, $blue-300);
  }

  &.p-highlight {
    &.front-end {
      @include set-color($purple-300, $white, $purple-300);
    }

    &.back-end {
      @include set-color($orange-300, $white, $orange-300);
    }

    &.dev-ops {
      @include set-color($green-300, $white, $green-300);
    }

    &.qa-test {
      @include set-color($red-300, $white, $red-300);
    }

    &.sales {
      @include set-color($blue-300, $white, $blue-300);
    }
  }
}

.p-button-icon-only {
  height: $icon-button-size;
  width: $icon-button-size;
  border-radius: $border-radius-default
}

/* Common Button */
p-button {
  /* Colors */
  &.primary {
    .p-button, .p-button-icon-only {
      @include set-color();
    }
  }

  &.primary-light {
    .p-button, .p-button-icon-only {
      @include set-color($primary-light, $white, $primary-light);
    }
  }

  &.secondary {
    .p-button, .p-button-icon-only {
      @include set-color($secondary, $primary, $secondary);
    }
  }

  &.primary-dark {
    .p-button, .p-button-icon-only {
      @include set-color($primary-dark, $white, $primary-dark);
    }
  }

  &.cancel {
    .p-button, .p-button-icon-only {
      @include set-color($white, $primary, $primary);
    }
  }

  &.success {
    .p-button, .p-button-icon-only {
      @include set-color($success, $white, $success);
    }
  }

  /* Button Icons */
  &.icon-bold {
    .p-button, .p-button-icon-only {
      .pi {
        font-weight: $font-weight-max-bold;
      }
    }
  }

  &.icon-big {
    .p-button, .p-button-icon-only {
      .pi {
        font-weight: $font-size-big;
      }
    }
  }

  &.icon-bigger {
    .p-button, .p-button-icon-only {
      width: $icon-size-bigger;
      height: $icon-size-bigger;

      .pi {
        font-size: $icon-size-bigger
      }
    }
  }

  &.icon-small {
    .p-button, .p-button-icon-only {
      width: $icon-button-size-small;
      height: $icon-button-size-small;

      .pi {
        font-size: $icon-size-small
      }
    }
  }

  /* Confirm add */
  &.confirm-add-button {
    align-self: flex-end;

    .p-button {
      width: 50%;
    }

    button {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    button:after {
      content: "+";
      position: absolute;
      opacity: 0;
      font-size: 2rem;
      top: -0.25rem;
      font-weight: 100;
      right: -1rem;
      transition: 0.5s;
    }

    button:hover {
      padding-right: 1.5rem;
      padding-left: 0.5rem;
    }

    button:hover:after {
      opacity: 1;
      right: 1rem;
    }
  }


  /* Button Label */
  &.uppercase {
    .p-button-label {
      text-transform: uppercase;
    }
  }

  &.label-big {
    .p-button-label {
      font-size: $font-size-big
    }
  }

  &.label-bigger {
    .p-button-label {
      font-size: $font-size-bigger
    }
  }

  /* Effects */
  &.shadow {
    .p-button, .p-button-icon-only {
      box-shadow: $block-box-shadow
    }
  }

}

/* Set right border for multi select */
.p-buttonset .p-button:not(:last-child) {
  border-right: 2px solid currentColor;
}
