@import 'colors';
@import 'variables';
@import 'mixins/flex-container';

p-card {
  .p-card {
    height: 100%;
    border-radius: $border-radius-default;
    background: $white;
    box-shadow: $card-box-shadow;

    .p-card-header {
      height: $card-header-height;
      background-color: $bg2;
      border-top-right-radius: $border-radius-default;
      border-top-left-radius: $border-radius-default;
      @include flex-container(flex-start, center);
      padding: 1rem;

      .card-header {
        @include flex-container(space-between, center);
        width: 100%;
        gap: 0.5rem;

        .card-form {
          height: $form-field-height-small;
          @include flex-container(flex-end);
          flex: 1;
          gap: 0.5rem;

          > * {
            height: $form-field-height-small;

            input.p-inputtext {
              height: $form-field-height-small;
            }
          }
        }
      }

      span:not(.multiselect-description, .p-badge) {
        font-weight: $font-weight-bold;
        color: $black;

        &:not(.pi) {
          font-size: $font-size-big;
        }
      }
    }

    .p-card-body {
      height: calc(100% - $card-header-height);
      @include flex-container(flex-start, stretch, column);
      padding: 0;
      //background: $bg2;

      .p-card-content {
        height: 100%;
        padding: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      .p-card-footer {
        height: $card-footer-height;
        background-color: $bg2;
        border-bottom-right-radius: $border-radius-default;
        border-bottom-left-radius: $border-radius-default;
        @include flex-container(flex-start, center);
      }
    }
  }

  &.no-shadow {
    .p-card {
      box-shadow: none;
    }
  }
}
