@import 'variables.scss';
@import 'colors.scss';
@import 'mixins/flex-container';

p-dialog {
  .p-dialog {
    border-radius: $border-radius-default;

    .p-dialog-header {
      font-size: $font-size-big;
      border-top-right-radius: $border-radius-default;
      border-top-left-radius: $border-radius-default;
      background: $secondary;
      color: $primary-dark;
      padding: 1rem;
      justify-content: flex-start;
      gap: 0.5rem;

      .p-dialog-header-icons {
        margin-left: auto;

        timesicon {
          color: $primary-dark;
          font-weight: bold;
        }
      }
    }

    .p-dialog-content {
      padding: 1rem;
      color: $primary-dark;
      background: $white;
    }

    .p-dialog-footer {
      @include flex-container(flex-end);
      border-bottom-right-radius: $border-radius-default;
      border-bottom-left-radius: $border-radius-default;
      padding: 1rem;
      gap: 1rem;
    }
  }
}
