@import "colors";
@import "variables";
@import "mixins/flex-container";
@import "mixins/border-solid";

i {
  &.border {
    text-shadow: $icon-border
  }

  &.pi {
    border-radius: 100%;
    display: grid;
    place-content: center;
    cursor: pointer;

    &.primary-dark {
      color: $primary-dark;
    }

    &.bold {
      font-weight: $font-weight-bold;
    }

    /* Sizes */
    &.big {
      font-size: 1.5rem;
    }
  }
}

