@import "colors";
@import "variables";
@import "mixins/border-solid";

.p-overlaypanel {
  background: $background;
  border-radius: $border-radius-default;
  box-shadow: $big-box-shadow;
  @include border-solid($primary);

  &::before, &::after {
    display: none;
  }
}
