@import "colors";
@import "variables";

.p-overlaypanel {
  background: navajowhite;
  border-radius: $border-radius-default;
  box-shadow: $block-box-shadow;

  &::before, &::after {
    display: none;
  }
}
