@import 'colors';
@import 'variables';

p-stepper {
  .p-stepper-header {

    &.p-highlight {
      .p-stepper-title {
        color: $black;
        font-size: $font-size-big;
      }
    }

    .p-stepper-action {
      .p-stepper-number {
        color: $white;
        background: $primary;
      }
    }
  }
}

.p-stepper .p-stepper-header:has(~ .p-highlight) .p-stepper-separator {
  background: $primary-light;
}
