@import "variables";
@import "colors";
@import "mixins/flex-container";

:host {

  .tasks-list {
    @include flex-container(flex-start, flex-start, column);
    gap: 1rem;
    height: 100%;
    padding: 0.5rem;
    overflow-y: auto;
  }

  .skeleton-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    padding: 1rem;
    overflow: hidden;
  }

  .add-task {
    cursor: pointer;
    border-radius: 1rem;
    width: 45%;
    height: 100%;
    @include flex-container(center, center);
    gap: 0.5rem;
    padding: 0.5rem;
    background: $white;
    color: $primary-dark;
    border: 2px solid $primary-dark;
    box-shadow: $block-box-shadow;
  }
}

