<p-card>
  <ng-template pTemplate="header">
    <div class="card-header">
      <span>{{ column().label }}</span>
      <form class="card-form" [formGroup]="formGroup()">
        <p-iconField iconPosition="right">
          <p-inputIcon styleClass="pi pi-search"/>
          <input
            [formControl]="search()"
            type="text"
            pInputText
          />
        </p-iconField>
        <p-multiSelect
          [filter]="false"
          [formControl]="filters()"
          [displaySelectedLabel]="false"
          [options]="filterOptions()"
          optionLabel="label">
          <ng-template pTemplate="dropdownicon">
            <p-inputIcon styleClass="pi pi-filter"/>
          </ng-template>
          <ng-template pTemplate="item" let-option>
            {{ option }}
          </ng-template>
        </p-multiSelect>
      </form>
    </div>
  </ng-template>
  <ng-template pTemplate="body">
    <div class="tasks-list">
      @for (task of filteredTasks(); track task.id) {
        <it-task
          [highlight]="true"
          [task]="task"
        />
      } @empty {
        <it-no-data-box [label]="'No Data'" [padding]="0"></it-no-data-box>
      }
    </div>
  </ng-template>
  <ng-template pTemplate="footer">
    <div class="add-task ripple primary"
         pRipple
         (click)="addTaskOp.toggle($event)">
      <i [class]="Icons.PLUS"></i>
      <span class="primary bold">Aggiungi task</span>
    </div>
    <p-overlayPanel #addTaskOp>
      <it-add-task-overlay [tags]="Tags" [users]="Users"/>
    </p-overlayPanel>
  </ng-template>
</p-card>
