<p-card>
  <ng-template pTemplate="header">
    <div class="card-header">
      <span>{{ column().label }}</span>
      <form class="card-form" [formGroup]="formGroup()">
        <p-iconField iconPosition="right">
          <p-inputIcon styleClass="pi pi-search"/>
          <input
            [formControl]="search()"
            type="text"
            pInputText
          />
        </p-iconField>
        <p-button class="contrast bold" [icon]="sortParams().icon" (onClick)="toggleSort()"/>
      </form>
    </div>
  </ng-template>
  <ng-template pTemplate="body">
    @defer (when tasks().length) {
      <div class="tasks-list">
        @for (task of computedTasks(); track task.id) {
          <it-task
            [highlight]="true"
            [task]="task"
            (onEditTask)="openEditTaskDialog(task)"
            (onDeleteTask)="deleteTask(task)"
          />
        } @empty {
          <it-no-data-box [label]="'Nessun task disponibile'" [padding]="0"/>
        }
      </div>
    } @placeholder {
      <div class="skeleton-list">
        <it-skeleton-card/>
        <it-skeleton-card/>
        <it-skeleton-card/>
        <it-skeleton-card/>
      </div>
    }
  </ng-template>
  <ng-template pTemplate="footer">
    @defer (when tasks().length) {
      <div class="add-task ripple"
           pRipple
           (click)="addTaskOp.toggle($event)">
        <i [class]="Icons.PLUS" class="primary-dark border"></i>
        <span class="primary-dark bold">Aggiungi task</span>
      </div>
      <p-overlayPanel #addTaskOp>
        <it-manage-task
          [tags]="Tags"
          [users]="Users"
          (onCreateTask)="createTask($event); addTaskOp.toggle(true)"
        />
      </p-overlayPanel>
    }
  </ng-template>
  <it-edit-task-dialog
    [visible]="showEditTaskDialog()"
    [task]="taskToEdit()!"
    [tags]="Tags"
    [users]="Users"
    (confirmEdit)="editTask($event)"
    (close)="closeEditTaskDialog()"
  />
</p-card>
