@import "colors";
@import "variables";

:host {

  $avatar-size: 6rem;
  $column-size: calc($avatar-size / 2);
  $transition-value: 500ms;

  .avatars {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(var(--users-no), $column-size);
    transition: grid-template-columns $transition-value;
    transition-delay: 200ms;
    padding: 0.5rem;

    &:hover, &:focus-within {
      $column-size: $avatar-size * 1.25;
      grid-template-columns: repeat(var(--users-no), $column-size);
      transition-delay: 0ms;
    }

    .avatar {
      width: $avatar-size;
      aspect-ratio: 1;
      object-fit: cover;
      border-radius: 100%;
      border: 0.25rem solid white;
      box-shadow: 0.25rem 0.25rem 0.5rem hsl(0 0% 0% / .2);
      transition: scale $transition-value;
      cursor: pointer;

      &:hover, &:focus {
        scale: 1.4;
        z-index: $z-index-medium;
      }

      &.selected {
        border-color: $primary;
        scale: 1.25
      }


      // Only apply it if browser supports it
      @supports selector(:has(+ *)) {
        //Select previous and next element
        &:hover + .avatar, &:has(+ .avatar:hover) {
          scale: 1.25;
        }
      }
    }
  }
}

