:root {
  --primary-dark: #0a2872;
  --primary: #003b9a;
  --primary-light2: #afbfd9;
  --primary-light3: #95abcf;
  --secondary-dark: #bacae4;
  --secondary: #cfd8ea;
  --secondary-light: #e1e6ed;
  --secondary-light2: #f1f2f6;
  --alert: #ff3a29;
  --alert-light: #f4bfba;
  --bg1: #fafafa;
  --bg2: #eeeeee;
  --warning: #ffc102;
  --success: #06d186;
  --white: #ffffff;
  --black: #000000;

  --red-shade-1: #ff0000;
  --red-shade-2: #d40000;
  --red-shade-3: #aa0000;
  --red-shade-4: #800000;
  --red-shade-5: #550000;
  --red-shade-6: #2a0000;
  --green-shade-1: #00ff00;
  --green-shade-2: #00d400;
  --green-shade-3: #00aa00;
  --green-shade-4: #008000;
  --green-shade-5: #005500;
  --green-shade-6: #002a00;
  --blue-shade-1: #0000ff;
  --blue-shade-2: #0000d4;
  --blue-shade-3: #0000aa;
  --blue-shade-4: #000080;
  --blue-shade-5: #000055;
  --blue-shade-6: #00002a;
  --yellow-shade-1: #ffff00;
  --yellow-shade-2: #d4d400;
  --yellow-shade-3: #aaaa00;
  --yellow-shade-4: #808000;
  --yellow-shade-5: #555500;
  --yellow-shade-6: #2a2a00;
  --cyan-shade-1: #00ffff;
  --cyan-shade-2: #00d4d4;
  --cyan-shade-3: #00aaaa;
  --cyan-shade-4: #008080;
  --cyan-shade-5: #005555;
  --cyan-shade-6: #002a2a;
  --magenta-shade-1: #ff00ff;
  --magenta-shade-2: #d400d4;
  --magenta-shade-3: #aa00aa;
  --magenta-shade-4: #800080;
  --magenta-shade-5: #550055;
  --magenta-shade-6: #2a002a;
  --orange-shade-1: #ffa500;
  --orange-shade-2: #d48a00;
  --orange-shade-3: #aa6e00;
  --orange-shade-4: #805200;
  --orange-shade-5: #553700;
  --orange-shade-6: #2a1b00;
  --brown-shade-1: #8b4513;
  --brown-shade-2: #743a10;
  --brown-shade-3: #5d2e0d;
  --brown-shade-4: #46220a;
  --brown-shade-5: #2e1706;
  --brown-shade-6: #170b03;
  --bottle_green-shade-1: #006a4e;
  --bottle_green-shade-2: #005841;
  --bottle_green-shade-3: #004734;
  --bottle_green-shade-4: #003527;
  --bottle_green-shade-5: #00231a;
  --bottle_green-shade-6: #00120d;
  --purple-shade-1: #800080;
  --purple-shade-2: #6b006b;
  --purple-shade-3: #550055;
  --purple-shade-4: #400040;
  --purple-shade-5: #2b002b;
  --purple-shade-6: #150015;
  --ochre-shade-1: #cc7722;
  --ochre-shade-2: #aa631c;
  --ochre-shade-3: #884f17;
  --ochre-shade-4: #663c11;
  --ochre-shade-5: #44280b;
  --ochre-shade-6: #221406;
  --taupe-shade-1: #b38b6d;
  --taupe-shade-2: #95745b;
  --taupe-shade-3: #775d49;
  --taupe-shade-4: #5a4636;
  --taupe-shade-5: #3c2e24;
  --taupe-shade-6: #1e1712;
  --gray-shade-1: #808080;
  --gray-shade-2: #6b6b6b;
  --gray-shade-3: #555555;
  --gray-shade-4: #404040;
  --gray-shade-5: #2b2b2b;
  --gray-shade-6: #151515;
  --off_white-shade-1: #f5f5f5;
  --off_white-shade-2: #cccccc;
  --off_white-shade-3: #a3a3a3;
  --off_white-shade-4: #7a7a7a;
  --off_white-shade-5: #525252;
  --off_white-shade-6: #292929;

  --blue-50: #f4fafe;
  --blue-100: #cae6fc;
  --blue-200: #a0d2fa;
  --blue-300: #75bef8;
  --blue-400: #4baaf5;
  --blue-500: #2196f3;
  --blue-600: #1c80cf;
  --blue-700: #1769aa;
  --blue-800: #125386;
  --blue-900: #0d3c61;
  --green-50: #f6fbf6;
  --green-100: #d4ecd5;
  --green-200: #b2ddb4;
  --green-300: #90cd93;
  --green-400: #6ebe71;
  --green-500: #4caf50;
  --green-600: #419544;
  --green-700: #357b38;
  --green-800: #2a602c;
  --green-900: #1e4620;
  --yellow-50: #fffcf5;
  --yellow-100: #fef0cd;
  --yellow-200: #fde4a5;
  --yellow-300: #fdd87d;
  --yellow-400: #fccc55;
  --yellow-500: #fbc02d;
  --yellow-600: #d5a326;
  --yellow-700: #b08620;
  --yellow-800: #8a6a19;
  --yellow-900: #644d12;
  --cyan-50: #f2fcfd;
  --cyan-100: #c2eff5;
  --cyan-200: #91e2ed;
  --cyan-300: #61d5e4;
  --cyan-400: #30c9dc;
  --cyan-500: #00bcd4;
  --cyan-600: #00a0b4;
  --cyan-700: #008494;
  --cyan-800: #006775;
  --cyan-900: #004b55;
  --pink-50: #fef4f7;
  --pink-100: #fac9da;
  --pink-200: #f69ebc;
  --pink-300: #f1749e;
  --pink-400: #ed4981;
  --pink-500: #e91e63;
  --pink-600: #c61a54;
  --pink-700: #a31545;
  --pink-800: #801136;
  --pink-900: #5d0c28;
  --indigo-50: #f5f6fb;
  --indigo-100: #d1d5ed;
  --indigo-200: #acb4df;
  --indigo-300: #8893d1;
  --indigo-400: #6372c3;
  --indigo-500: #3f51b5;
  --indigo-600: #36459a;
  --indigo-700: #2c397f;
  --indigo-800: #232d64;
  --indigo-900: #192048;
  --teal-50: #f2faf9;
  --teal-100: #c2e6e2;
  --teal-200: #91d2cc;
  --teal-300: #61beb5;
  --teal-400: #30aa9f;
  --teal-500: #009688;
  --teal-600: #008074;
  --teal-700: #00695f;
  --teal-800: #00534b;
  --teal-900: #003c36;
  --orange-50: #fff8f2;
  --orange-100: #fde0c2;
  --orange-200: #fbc791;
  --orange-300: #f9ae61;
  --orange-400: #f79530;
  --orange-500: #f57c00;
  --orange-600: #d06900;
  --orange-700: #ac5700;
  --orange-800: #874400;
  --orange-900: #623200;
  --bluegray-50: #f7f9f9;
  --bluegray-100: #d9e0e3;
  --bluegray-200: #bbc7cd;
  --bluegray-300: #9caeb7;
  --bluegray-400: #7e96a1;
  --bluegray-500: #607d8b;
  --bluegray-600: #526a76;
  --bluegray-700: #435861;
  --bluegray-800: #35454c;
  --bluegray-900: #263238;
  --purple-50: #faf4fb;
  --purple-100: #e7cbec;
  --purple-200: #d4a2dd;
  --purple-300: #c279ce;
  --purple-400: #af50bf;
  --purple-500: #9c27b0;
  --purple-600: #852196;
  --purple-700: #6d1b7b;
  --purple-800: #561561;
  --purple-900: #3e1046;
  --red-50: #fff5f5;
  --red-100: #ffd1ce;
  --red-200: #ffada7;
  --red-300: #ff8980;
  --red-400: #ff6459;
  --red-500: #ff4032;
  --red-600: #d9362b;
  --red-700: #b32d23;
  --red-800: #8c231c;
  --red-900: #661a14;
  --primary-50: #f4fafe;
  --primary-100: #cae6fc;
  --primary-200: #a0d2fa;
  --primary-300: #75bef8;
  --primary-400: #4baaf5;
  --primary-500: #2196f3;
  --primary-600: #1c80cf;
  --primary-700: #1769aa;
  --primary-800: #125386;
  --primary-900: #0d3c61;
}

$red-shade-1: var(--red-shade-1);
$red-shade-2: var(--red-shade-2);
$red-shade-3: var(--red-shade-3);
$red-shade-4: var(--red-shade-4);
$red-shade-5: var(--red-shade-5);
$red-shade-6: var(--red-shade-6);
$green-shade-1: var(--green-shade-1);
$green-shade-2: var(--green-shade-2);
$green-shade-3: var(--green-shade-3);
$green-shade-4: var(--green-shade-4);
$green-shade-5: var(--green-shade-5);
$green-shade-6: var(--green-shade-6);
$blue-shade-1: var(--blue-shade-1);
$blue-shade-2: var(--blue-shade-2);
$blue-shade-3: var(--blue-shade-3);
$blue-shade-4: var(--blue-shade-4);
$blue-shade-5: var(--blue-shade-5);
$blue-shade-6: var(--blue-shade-6);
$yellow-shade-1: var(--yellow-shade-1);
$yellow-shade-2: var(--yellow-shade-2);
$yellow-shade-3: var(--yellow-shade-3);
$yellow-shade-4: var(--yellow-shade-4);
$yellow-shade-5: var(--yellow-shade-5);
$yellow-shade-6: var(--yellow-shade-6);
$cyan-shade-1: var(--cyan-shade-1);
$cyan-shade-2: var(--cyan-shade-2);
$cyan-shade-3: var(--cyan-shade-3);
$cyan-shade-4: var(--cyan-shade-4);
$cyan-shade-5: var(--cyan-shade-5);
$cyan-shade-6: var(--cyan-shade-6);
$magenta-shade-1: var(--magenta-shade-1);
$magenta-shade-2: var(--magenta-shade-2);
$magenta-shade-3: var(--magenta-shade-3);
$magenta-shade-4: var(--magenta-shade-4);
$magenta-shade-5: var(--magenta-shade-5);
$magenta-shade-6: var(--magenta-shade-6);
$orange-shade-1: var(--orange-shade-1);
$orange-shade-2: var(--orange-shade-2);
$orange-shade-3: var(--orange-shade-3);
$orange-shade-4: var(--orange-shade-4);
$orange-shade-5: var(--orange-shade-5);
$orange-shade-6: var(--orange-shade-6);
$brown-shade-1: var(--brown-shade-1);
$brown-shade-2: var(--brown-shade-2);
$brown-shade-3: var(--brown-shade-3);
$brown-shade-4: var(--brown-shade-4);
$brown-shade-5: var(--brown-shade-5);
$brown-shade-6: var(--brown-shade-6);
$bottle_green-shade-1: var(--bottle_green-shade-1);
$bottle_green-shade-2: var(--bottle_green-shade-2);
$bottle_green-shade-3: var(--bottle_green-shade-3);
$bottle_green-shade-4: var(--bottle_green-shade-4);
$bottle_green-shade-5: var(--bottle_green-shade-5);
$bottle_green-shade-6: var(--bottle_green-shade-6);
$purple-shade-1: var(--purple-shade-1);
$purple-shade-2: var(--purple-shade-2);
$purple-shade-3: var(--purple-shade-3);
$purple-shade-4: var(--purple-shade-4);
$purple-shade-5: var(--purple-shade-5);
$purple-shade-6: var(--purple-shade-6);
$ochre-shade-1: var(--ochre-shade-1);
$ochre-shade-2: var(--ochre-shade-2);
$ochre-shade-3: var(--ochre-shade-3);
$ochre-shade-4: var(--ochre-shade-4);
$ochre-shade-5: var(--ochre-shade-5);
$ochre-shade-6: var(--ochre-shade-6);
$taupe-shade-1: var(--taupe-shade-1);
$taupe-shade-2: var(--taupe-shade-2);
$taupe-shade-3: var(--taupe-shade-3);
$taupe-shade-4: var(--taupe-shade-4);
$taupe-shade-5: var(--taupe-shade-5);
$taupe-shade-6: var(--taupe-shade-6);
$gray-shade-1: var(--gray-shade-1);
$gray-shade-2: var(--gray-shade-2);
$gray-shade-3: var(--gray-shade-3);
$gray-shade-4: var(--gray-shade-4);
$gray-shade-5: var(--gray-shade-5);
$gray-shade-6: var(--gray-shade-6);
$off_white-shade-1: var(--off_white-shade-1);
$off_white-shade-2: var(--off_white-shade-2);
$off_white-shade-3: var(--off_white-shade-3);
$off_white-shade-4: var(--off_white-shade-4);
$off_white-shade-5: var(--off_white-shade-5);
$off_white-shade-6: var(--off_white-shade-6);

$blue-50: var(--blue-50);
$blue-100: var(--blue-100);
$blue-200: var(--blue-200);
$blue-300: var(--blue-300);
$blue-400: var(--blue-400);
$blue-500: var(--blue-500);
$blue-600: var(--blue-600);
$blue-700: var(--blue-700);
$blue-800: var(--blue-800);
$blue-900: var(--blue-900);
$green-50: var(--green-50);
$green-100: var(--green-100);
$green-200: var(--green-200);
$green-300: var(--green-300);
$green-400: var(--green-400);
$green-500: var(--green-500);
$green-600: var(--green-600);
$green-700: var(--green-700);
$green-800: var(--green-800);
$green-900: var(--green-900);
$yellow-50: var(--yellow-50);
$yellow-100: var(--yellow-100);
$yellow-200: var(--yellow-200);
$yellow-300: var(--yellow-300);
$yellow-400: var(--yellow-400);
$yellow-500: var(--yellow-500);
$yellow-600: var(--yellow-600);
$yellow-700: var(--yellow-700);
$yellow-800: var(--yellow-800);
$yellow-900: var(--yellow-900);
$cyan-50: var(--cyan-50);
$cyan-100: var(--cyan-100);
$cyan-200: var(--cyan-200);
$cyan-300: var(--cyan-300);
$cyan-400: var(--cyan-400);
$cyan-500: var(--cyan-500);
$cyan-600: var(--cyan-600);
$cyan-700: var(--cyan-700);
$cyan-800: var(--cyan-800);
$cyan-900: var(--cyan-900);
$pink-50: var(--pink-50);
$pink-100: var(--pink-100);
$pink-200: var(--pink-200);
$pink-300: var(--pink-300);
$pink-400: var(--pink-400);
$pink-500: var(--pink-500);
$pink-600: var(--pink-600);
$pink-700: var(--pink-700);
$pink-800: var(--pink-800);
$pink-900: var(--pink-900);
$indigo-50: var(--indigo-50);
$indigo-100: var(--indigo-100);
$indigo-200: var(--indigo-200);
$indigo-300: var(--indigo-300);
$indigo-400: var(--indigo-400);
$indigo-500: var(--indigo-500);
$indigo-600: var(--indigo-600);
$indigo-700: var(--indigo-700);
$indigo-800: var(--indigo-800);
$indigo-900: var(--indigo-900);
$teal-50: var(--teal-50);
$teal-100: var(--teal-100);
$teal-200: var(--teal-200);
$teal-300: var(--teal-300);
$teal-400: var(--teal-400);
$teal-500: var(--teal-500);
$teal-600: var(--teal-600);
$teal-700: var(--teal-700);
$teal-800: var(--teal-800);
$teal-900: var(--teal-900);
$orange-50: var(--orange-50);
$orange-100: var(--orange-100);
$orange-200: var(--orange-200);
$orange-300: var(--orange-300);
$orange-400: var(--orange-400);
$orange-500: var(--orange-500);
$orange-600: var(--orange-600);
$orange-700: var(--orange-700);
$orange-800: var(--orange-800);
$orange-900: var(--orange-900);
$bluegray-50: var(--bluegray-50);
$bluegray-100: var(--bluegray-100);
$bluegray-200: var(--bluegray-200);
$bluegray-300: var(--bluegray-300);
$bluegray-400: var(--bluegray-400);
$bluegray-500: var(--bluegray-500);
$bluegray-600: var(--bluegray-600);
$bluegray-700: var(--bluegray-700);
$bluegray-800: var(--bluegray-800);
$bluegray-900: var(--bluegray-900);
$purple-50: var(--purple-50);
$purple-100: var(--purple-100);
$purple-200: var(--purple-200);
$purple-300: var(--purple-300);
$purple-400: var(--purple-400);
$purple-500: var(--purple-500);
$purple-600: var(--purple-600);
$purple-700: var(--purple-700);
$purple-800: var(--purple-800);
$purple-900: var(--purple-900);
$red-50: var(--red-50);
$red-100: var(--red-100);
$red-200: var(--red-200);
$red-300: var(--red-300);
$red-400: var(--red-400);
$red-500: var(--red-500);
$red-600: var(--red-600);
$red-700: var(--red-700);
$red-800: var(--red-800);
$red-900: var(--red-900);

$primary-dark: var(--primary-dark);
$primary: $blue-700;
$primary-light: $blue-600;
$primary-light2: var(--primary-light2);
$primary-light3: var(--primary-light3);
$secondary-dark: var(--secondary-dark);
$secondary: var(--secondary);
$secondary-light: var(--secondary-light);
$secondary-light2: var(--secondary-light2);
$alert: var(--alert);
$alert-light: var(--alert-light);
$bg1: var(--bg1);
$bg2: var(--bg2);
$warning: var(--warning);
$success: var(--success);
$white: var(--white);
$black: var(--black);
