:root {
  --alert: #ff3a29;
  --alert-light: #f4bfba;
  --warning: #ffc102;
  --success: #06d186;
  --white: #fafafa;
  --black: #000000;

  --bg1: #FFE8C5;
  --primary: #6f4f28; //primary
  --secondary-light: #d2b48c; //secondary light
  --accent-blue: #a2c2e8;
  --accent-pink: #f5c6cb;

  --purple: #c279ce;
  --red: #ff8980;
  --green: #90cd93;
  --orange: #f9ae61;
  --blue: #75bef8;

  --bg2: #F3E5AB; //bg2
  --bg3: #F4E8C1; //bg3

  --primary-light: #8B5A2B; //primary-light
  --primary-dark: #3E2723; //primary-dark

  --secondary: #C3A38A; //secondary
  --secondary-light2: #D8B189; // secondary-light2

  --accent-blue2: #7DAFD4; // third2
  --accent-blue-light: #8CBED6; //third-light

  --accent-pink-light: #F8B5C9; //accent-pink-light
  --accent-pink2: #E4A4B6; //accent-pink2

  --max-contrast: #75bef8
}


$primary-dark: var(--primary-dark);
$primary: var(--primary);
$primary-light: var(--primary-light);
$secondary: var(--secondary);
$secondary-light: var(--secondary-light);
$secondary-light2: var(--secondary-light2);
$alert: var(--alert);
$alert-light: var(--alert-light);
$bg1: var(--bg2);
$bg2: var(--bg3);
$warning: var(--warning);
$success: var(--success);
$white: var(--white);
$black: var(--black);

$background: var(--bg1);
$accent-blue: var(--accent-blue);
$accent-blue2: var(--accent-blue2);
$accent-blue-light: var(--accent-blue-light);
$accent-pink: var(--accent-pink);
$accent-pink-light: var(--accent-pink-light);
$accent-pink2: var(--accent-pink2);
$purple-300: var(--purple);
$red-300: var(--red);
$green-300: var(--green);
$orange-300: var(--orange);
$blue-300: var(--blue);
$max-contrast: var(--max-contrast)
