:root {
  --primary-dark: #0a2872;
  --primary: #003b9a;
  --primary-light: #afbfd9;
  --primary-light2: #dfe4f0;
  --primary-light3: #95abcf;
  --secondary-dark: #bacae4;
  --secondary: #cfd8ea;
  --secondary-light: #e1e6ed;
  --secondary-light2: #f1f2f6;
  --alert: #ff3a29;
  --alert-light: #f4bfba;
  --bg1: #fafafa;
  --bg2: #f1f2f6;
  --warning: #ffc102;
  --success: #06d186;
  --white: #ffffff;
  --black: #000000;

  --red-shade-1 : #ff0000;
  --red-shade-2 : #d40000;
  --red-shade-3 : #aa0000;
  --red-shade-4 : #800000;
  --red-shade-5 : #550000;
  --red-shade-6 : #2a0000;
  --green-shade-1 : #00ff00;
  --green-shade-2 : #00d400;
  --green-shade-3 : #00aa00;
  --green-shade-4 : #008000;
  --green-shade-5 : #005500;
  --green-shade-6 : #002a00;
  --blue-shade-1 : #0000ff;
  --blue-shade-2 : #0000d4;
  --blue-shade-3 : #0000aa;
  --blue-shade-4 : #000080;
  --blue-shade-5 : #000055;
  --blue-shade-6 : #00002a;
  --yellow-shade-1 : #ffff00;
  --yellow-shade-2 : #d4d400;
  --yellow-shade-3 : #aaaa00;
  --yellow-shade-4 : #808000;
  --yellow-shade-5 : #555500;
  --yellow-shade-6 : #2a2a00;
  --cyan-shade-1 : #00ffff;
  --cyan-shade-2 : #00d4d4;
  --cyan-shade-3 : #00aaaa;
  --cyan-shade-4 : #008080;
  --cyan-shade-5 : #005555;
  --cyan-shade-6 : #002a2a;
  --magenta-shade-1 : #ff00ff;
  --magenta-shade-2 : #d400d4;
  --magenta-shade-3 : #aa00aa;
  --magenta-shade-4 : #800080;
  --magenta-shade-5 : #550055;
  --magenta-shade-6 : #2a002a;
  --orange-shade-1 : #ffa500;
  --orange-shade-2 : #d48a00;
  --orange-shade-3 : #aa6e00;
  --orange-shade-4 : #805200;
  --orange-shade-5 : #553700;
  --orange-shade-6 : #2a1b00;
  --brown-shade-1 : #8b4513;
  --brown-shade-2 : #743a10;
  --brown-shade-3 : #5d2e0d;
  --brown-shade-4 : #46220a;
  --brown-shade-5 : #2e1706;
  --brown-shade-6 : #170b03;
  --bottle_green-shade-1 : #006a4e;
  --bottle_green-shade-2 : #005841;
  --bottle_green-shade-3 : #004734;
  --bottle_green-shade-4 : #003527;
  --bottle_green-shade-5 : #00231a;
  --bottle_green-shade-6 : #00120d;
  --purple-shade-1 : #800080;
  --purple-shade-2 : #6b006b;
  --purple-shade-3 : #550055;
  --purple-shade-4 : #400040;
  --purple-shade-5 : #2b002b;
  --purple-shade-6 : #150015;
  --ochre-shade-1 : #cc7722;
  --ochre-shade-2 : #aa631c;
  --ochre-shade-3 : #884f17;
  --ochre-shade-4 : #663c11;
  --ochre-shade-5 : #44280b;
  --ochre-shade-6 : #221406;
  --taupe-shade-1 : #b38b6d;
  --taupe-shade-2 : #95745b;
  --taupe-shade-3 : #775d49;
  --taupe-shade-4 : #5a4636;
  --taupe-shade-5 : #3c2e24;
  --taupe-shade-6 : #1e1712;
  --gray-shade-1 : #808080;
  --gray-shade-2 : #6b6b6b;
  --gray-shade-3 : #555555;
  --gray-shade-4 : #404040;
  --gray-shade-5 : #2b2b2b;
  --gray-shade-6 : #151515;
  --off_white-shade-1 : #f5f5f5;
  --off_white-shade-2 : #cccccc;
  --off_white-shade-3 : #a3a3a3;
  --off_white-shade-4 : #7a7a7a;
  --off_white-shade-5 : #525252;
  --off_white-shade-6 : #292929;
}

$primary-dark: var(--primary-dark);
$primary: var(--primary);
$primary-light: var(--primary-light);
$primary-light2: var(--primary-light2);
$primary-light3: var(--primary-light3);
$secondary-dark: var(--secondary-dark);
$secondary: var(--secondary);
$secondary-light: var(--secondary-light);
$secondary-light2: var(--secondary-light2);
$alert: var(--alert);
$alert-light: var(--alert-light);
$bg1: var(--bg1);
$bg2: var(--bg2);
$warning: var(--warning);
$success: var(--success);
$white: var(--white);
$black: var(--black);

$red-shade-1: var(--red-shade-1);
$red-shade-2: var(--red-shade-2);
$red-shade-3: var(--red-shade-3);
$red-shade-4: var(--red-shade-4);
$red-shade-5: var(--red-shade-5);
$red-shade-6: var(--red-shade-6);
$green-shade-1: var(--green-shade-1);
$green-shade-2: var(--green-shade-2);
$green-shade-3: var(--green-shade-3);
$green-shade-4: var(--green-shade-4);
$green-shade-5: var(--green-shade-5);
$green-shade-6: var(--green-shade-6);
$blue-shade-1: var(--blue-shade-1);
$blue-shade-2: var(--blue-shade-2);
$blue-shade-3: var(--blue-shade-3);
$blue-shade-4: var(--blue-shade-4);
$blue-shade-5: var(--blue-shade-5);
$blue-shade-6: var(--blue-shade-6);
$yellow-shade-1: var(--yellow-shade-1);
$yellow-shade-2: var(--yellow-shade-2);
$yellow-shade-3: var(--yellow-shade-3);
$yellow-shade-4: var(--yellow-shade-4);
$yellow-shade-5: var(--yellow-shade-5);
$yellow-shade-6: var(--yellow-shade-6);
$cyan-shade-1: var(--cyan-shade-1);
$cyan-shade-2: var(--cyan-shade-2);
$cyan-shade-3: var(--cyan-shade-3);
$cyan-shade-4: var(--cyan-shade-4);
$cyan-shade-5: var(--cyan-shade-5);
$cyan-shade-6: var(--cyan-shade-6);
$magenta-shade-1: var(--magenta-shade-1);
$magenta-shade-2: var(--magenta-shade-2);
$magenta-shade-3: var(--magenta-shade-3);
$magenta-shade-4: var(--magenta-shade-4);
$magenta-shade-5: var(--magenta-shade-5);
$magenta-shade-6: var(--magenta-shade-6);
$orange-shade-1: var(--orange-shade-1);
$orange-shade-2: var(--orange-shade-2);
$orange-shade-3: var(--orange-shade-3);
$orange-shade-4: var(--orange-shade-4);
$orange-shade-5: var(--orange-shade-5);
$orange-shade-6: var(--orange-shade-6);
$brown-shade-1: var(--brown-shade-1);
$brown-shade-2: var(--brown-shade-2);
$brown-shade-3: var(--brown-shade-3);
$brown-shade-4: var(--brown-shade-4);
$brown-shade-5: var(--brown-shade-5);
$brown-shade-6: var(--brown-shade-6);
$bottle_green-shade-1: var(--bottle_green-shade-1);
$bottle_green-shade-2: var(--bottle_green-shade-2);
$bottle_green-shade-3: var(--bottle_green-shade-3);
$bottle_green-shade-4: var(--bottle_green-shade-4);
$bottle_green-shade-5: var(--bottle_green-shade-5);
$bottle_green-shade-6: var(--bottle_green-shade-6);
$purple-shade-1: var(--purple-shade-1);
$purple-shade-2: var(--purple-shade-2);
$purple-shade-3: var(--purple-shade-3);
$purple-shade-4: var(--purple-shade-4);
$purple-shade-5: var(--purple-shade-5);
$purple-shade-6: var(--purple-shade-6);
$ochre-shade-1: var(--ochre-shade-1);
$ochre-shade-2: var(--ochre-shade-2);
$ochre-shade-3: var(--ochre-shade-3);
$ochre-shade-4: var(--ochre-shade-4);
$ochre-shade-5: var(--ochre-shade-5);
$ochre-shade-6: var(--ochre-shade-6);
$taupe-shade-1: var(--taupe-shade-1);
$taupe-shade-2: var(--taupe-shade-2);
$taupe-shade-3: var(--taupe-shade-3);
$taupe-shade-4: var(--taupe-shade-4);
$taupe-shade-5: var(--taupe-shade-5);
$taupe-shade-6: var(--taupe-shade-6);
$gray-shade-1: var(--gray-shade-1);
$gray-shade-2: var(--gray-shade-2);
$gray-shade-3: var(--gray-shade-3);
$gray-shade-4: var(--gray-shade-4);
$gray-shade-5: var(--gray-shade-5);
$gray-shade-6: var(--gray-shade-6);
$off_white-shade-1: var(--off_white-shade-1);
$off_white-shade-2: var(--off_white-shade-2);
$off_white-shade-3: var(--off_white-shade-3);
$off_white-shade-4: var(--off_white-shade-4);
$off_white-shade-5: var(--off_white-shade-5);
$off_white-shade-6: var(--off_white-shade-6);
