@import 'variables';
@import 'colors';
@import 'mixins/border-solid';
@import 'mixins/flex-container';

:host {
  padding: 0.5rem;
  width: 100%;
  flex: 0;
  display: grid;
  grid-template-rows: 10% minmax(0, 1fr) 45%;
  cursor: pointer;
  @include border-solid($secondary-light);
  gap: 0.5rem;
  border-radius: $border-radius-default;
  box-shadow: $block-box-shadow;
  transition: min-height $cubic-bezier-transition;

  .tags-wrapper {
    display: flex;
    gap: 0.5rem;
    min-height: 10%;

    > :nth-child(n).tag {
      flex: 0 1 25%;

      .tag-label {
        height: 100%;
        color: $white;
        font-size: $font-size-small;
        transition: opacity $cubic-bezier-transition;
        @include flex-container(center, center);
        opacity: 0;

        &.ng-star-inserted {
          opacity: 1;
        }
      }
    }
  }

  .task-label {
    align-self: center;
  }

  .bottom {
    @include flex-container(space-between, end);

    .user-pic-container {
      flex: 1;
      height: 100%;
      position: relative;

      .user-pic {
        height: 100%;
        object-fit: contain;
        border-radius: $border-radius-round;
      }

      .user-name {
        opacity: 0;
        font-size: $font-size-medium;

        &.ng-star-inserted {
          opacity: 1;
          position: absolute;
          bottom: -0.25rem;
        }
      }
    }

    .icons {
      display: flex;
      justify-content: flex-end;
    }
  }
}
