<div class="label-wrapper">
  <span class="bold uppercase primary">{{ task().description }}</span>
</div>
<div class="icons-wrapper">
  <!--    <ev-icon-button
        [pTooltip]="'bom.bom.certified' | translate"
        [style.visibility]="isCertified() ? '' : 'hidden'"
        [icon]="Icons.STAR_FILL"
        [backgroundColor]="Colors.WHITE"
        [iconColor]="Colors.WARNING"
        [iconSize]="Sizes.L"
      />
      <ev-icon-button
        [bold]="true"
        [pTooltip]="getIconTooltip() | translate"
        [icon]="setIcon()"
        [backgroundColor]="Colors.WHITE"
        [iconColor]="setColor()"
        [iconSize]="Sizes.L"
      />
      <ev-icon-button
        [pTooltip]="'core.edit' | translate"
        [icon]="Icons.PENCIL"
        [backgroundColor]="Colors.SECONDARY"
        [iconColor]="Colors.PRIMARY_DARK"
        [disabled]="!!component().hasBom"
        [iconSize]="Sizes.L"
        (clicked)="editClick.emit(component()); $event.stopPropagation()"
      />
      <ev-icon-button
        [bold]="true"
        [pTooltip]="'bom.bom.clone' | translate"
        [icon]="Icons.CLONE"
        [disabled]="!component().certifiedBomId"
        [backgroundColor]="Colors.SECONDARY"
        [iconColor]="Colors.PRIMARY_DARK"
        [iconSize]="Sizes.L"
        (clicked)="cloneClick.emit(component()); $event.stopPropagation()"
      />-->
</div>
