@import 'variables';
@import 'colors';
@import 'mixins/border-solid';
@import 'mixins/flex-container';

:host {
  padding: 0.5rem;
  width: 100%;
  display: grid;
  grid-template-rows: 10% minmax(0, 1fr) 22%;
  cursor: pointer;
  @include border-solid($secondary-light);
  min-height: 15vh;
  gap: 0.5rem;
  border-radius: $border-radius-default;
  box-shadow: $block-box-shadow;

  .tags-wrapper {
    display: flex;
    gap: 0.5rem;
    min-height: 10%;

    > :nth-child(n).tag {
      flex: 0 1 25%;
    }
  }

  .bottom {
    position: relative;

    .user-pic {
      width: 15%;
      aspect-ratio: 1 / 1;
      object-fit: contain;
      border-radius: $border-radius-round;
      position: absolute;
      bottom: 0;
    }

    .icons {
      display: flex;
      justify-content: flex-end;
    }
  }
}
