<div class="tags-wrapper">
  @for (tag of tags(); track tag.id) {
    <div class="tag" [class]="tag.styleClass">
      @if (isExpanded()) {
        <span @fadeInOut class="tag-label bold uppercase">{{ tag.label }}</span>
      }
    </div>
  }
</div>
<span class="task-label bold uppercase primary">{{ task().label }}</span>
<div class="bottom">
  <div class="user-pic-container">
    <img alt="" class="user-pic" [src]="getUser()?.picture">
    @if (isExpanded()) {
      <div @fadeInOut class="user-info">
        <span class="primary bold uppercase">{{ getUserLabel() }}</span>
        <span class="primary bold uppercase small">{{ getUser()?.role }}</span>
      </div>
    }
  </div>

  <div class="icons">
    <p-button class="contrast-dark no-border icon-bigger animate-scale"
              [icon]="isExpanded() ? Icons.ANGLE_UP : Icons.ANGLE_DOWN"
              (onClick)="toggleExpand()"/>
    <p-button class="contrast-dark no-border icon-bigger animate-scale" [icon]="Icons.PENCIL"
              (onClick)="onEditTask.emit()"/>
    <p-button class="contrast-dark no-border icon-bigger animate-scale" [icon]="Icons.TRASH"
              (onClick)="onDeleteTask.emit()"/>
  </div>
</div>
