@import 'variables';
@import 'colors';
@import 'mixins/border-solid';
@import 'mixins/flex-container';

:host {
  padding: 0.5rem;
  width: 100%;
  flex: 0;
  display: grid;
  min-height: 15vh;
  grid-template-rows: 10% minmax(0, 1fr) 45%;
  gap: 0.5rem;
  border-radius: $border-radius-default;
  box-shadow: $block-box-shadow;
  background: $white;

  .tags-wrapper {
    display: flex;
    gap: 0.5rem;

    > :nth-child(n).tag {
      flex: 0 1 25%;
    }
  }

  .task-label {
    align-self: center;
  }

  .bottom {
    height: 100%;
  }
}
