<form class="form" [formGroup]="formGroup()">
  <div class="form-row">
    <span class="primary-dark bold medium">Nome task</span>
    <input pInputText [formControl]="labelFormControl()">
  </div>
  <div class="form-row">
    <span class="primary-dark bold medium">Tag</span>
    <p-selectButton
      [formControl]="tagsFormControl()"
      [options]="tags()"
      [multiple]="true"
      optionLabel="label"
      optionValue="id">
    </p-selectButton>
  </div>
  <div class="form-row">
    <span class="primary-dark bold medium">Assegna a {{ getUserFullName() }}</span>
    <it-users-form-control
      [users]="users()"
      [formControl]="userFormControl()"
    />
  </div>
  <p-button
    class="contrast"
    [ngClass]="isEditMode() ? 'confirm-edit-button' : 'confirm-add-button'"
    [label]="isEditMode() ? 'Modifica' : 'Aggiungi'"
    [disabled]="!isEditMode() ? formGroup().invalid : (formGroup().invalid || !formGroup().dirty)"
    (onClick)="manageTask()"
  />
</form>
