@import "variables";
@import "colors";

.ripple {
  &.primary {
    .p-ink {
      background: $primary;
    }
  }
}

span, label {
  &.uppercase {
    text-transform: uppercase;
  }

  &.bold {
    font-weight: $font-weight-bold;
  }

  &.bolder {
    font-weight: $font-weight-bolder;
  }

  &.error-label {
    font-size: $font-size-small;
    font-style: italic;
    color: $alert;
    align-self: flex-end;
  }

  &.black {
    color: $black;
  }

  &.primary {
    color: $primary;
  }

  &.secondary {
    color: $secondary;
  }

  &.primary-dark {
    color: $primary-dark;
  }

  &.medium {
    font-size: $font-size-medium;
  }

  &.big {
    font-size: $font-size-big;
  }

  &.bigger {
    font-size: $font-size-bigger;
  }

  &.small {
    font-size: $font-size-small;
  }

  &.smaller {
    font-size: $font-size-smaller;
  }

  &.center {
    text-align: center
  }
}

/* Tags */
div.tag {
  border-radius: $border-radius-default;

  &.front-end {
    background: $purple-300;
  }

  &.back-end {
    background: $orange-300;
  }

  &.dev-ops {
    background: $green-300;
  }

  &.qa-test {
    background: $red-300;
  }

  &.sales {
    background: $blue-300
  }
}

.p-draggable-enter {
  .p-card {
    outline: 4px solid $max-contrast;
  }
}
